@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&family=Rubik:wght@600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

.secure-shadow{
  filter: drop-shadow(1px 1px 7px #963dff);
}

.transaction-shadow{
  filter: drop-shadow(1px 1px 2px #491e7e);
}

.text-logo-gradient {
  background-color: #fff;
  background-image: radial-gradient(
      at 4% 36%,
      rgb(87, 44, 206) 0,
      transparent 53%
    ),
    radial-gradient(at 100% 60%, rgb(107, 46, 206) 0, transparent 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-bg-services {
  background-color: #231b41;
  background-image: radial-gradient(at 0% 100%, rgb(0, 0, 0) 0, transparent 50%),
    radial-gradient(at 50% 0%, hsl(256, 39%, 25%) 0, transparent 50%);
}

.gradient-bg-ball {
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}

.gradient-bg-ball1 {
  background-color: #1e1d1b;
  background-image: linear-gradient(315deg, #1e1d1b 0%, #cc9934 74%);
}

@tailwind base;

@layer base {
  html {
    font-family: Rajdhani;
    scroll-behavior: smooth;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  /* Menu */
  .menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
  }
  .line {
    fill: none;
    stroke: #b9c3ce;
    stroke-width: 6;
    transition: stroke-dasharray 700ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 700ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  /* Link Hover */
  .hoverEffect {
    transition: 0.35s;
  }
  .hoverEffect:hover {
    text-shadow: 0 -1.05px 0 #fff, 0 2px 0 #30132b, 0 4px 0 #2c0d99,
      0 6px 0 #701781, 0 8px 0 #2a105a, 0 10px 0 #2e0a42;
  }

  /* Loader */
  .triple-spinner {
    display: block;
    position: relative;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid #a894d0;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  .triple-spinner::before,
  .triple-spinner::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 4px solid transparent;
  }
  .triple-spinner::before {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-top-color: #7b3ec8;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3.5s linear infinite;
  }
  .triple-spinner::after {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-top-color: #7680e3;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.75s linear infinite;
  }

  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  /* Moz */
  @-moz-document url-prefix() {
    menu {
      padding: 5px;
      border-radius: 5px;
      background-color: #2d3436;
      background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    }
  }
}

::-webkit-scrollbar {
  width: 14px;
  height: 100vh;
  background-color: #171717;
  margin-block: 0.5em;
}

::-webkit-scrollbar-track {
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 99999px;
  background-clip: padding-box;
  background-color: #963dff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #772ace;
}

@supports (scrollbar-color: #772ace #000000e5) {
  * {
    scrollbar-color: #772ace #000000e5;
    scroll-behavior: smooth;
  }
}
